@media (max-width: 1130px) {
  #sait {
    .sait {
      .sait-photo {
        width: 100%;
        img {
          max-width: 270px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    h1 {
      font-size: clamp(1.75rem, 1.235rem + 2.35vw, 3rem);
    }
    p {
      font-size: clamp(0.688rem, 0.61rem + 0.35vw, 0.875rem);
    }
  }
  .hero-img {
    .main-img {
      max-width: 420px;
    }
  }
  .hero-1 {
    top: 13px;
  }
  .hero-2 {
    top: 33px;
  }
  .hero-3 {
    left: -16px;
    max-width: 70px;
  }
  #sait {
    .sait {
      .sait-photo {
        .img-3 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .header {
      nav,
      input {
        display: none;
      }
      .burger {
        display: block;
      }
    }
  }
  #service {
    .service {
      .create {
        .box {
          max-width: 275px;
        }
      }
    }
  }
  #hero {
    .hero {
      flex-direction: column;
    }
  }
}

@media (max-width: 640px) {
  #hero {
    .hero {
      .hero-img {
        max-width: 400px;
        .main-img {
          max-width: 450px;
          justify-content: center;
          padding-left: 70px;
        }
        .hero-1 {
          top: 35px;
          right: 50px;
          max-width: 80px;
        }
        .hero-2 {
          top: 50px;
          max-width: 80px;
          left: 45px;
        }
        .hero-3 {
          left: 50px;
          max-width: 80px;
        }
        .hero-4 {
          right: 40px;
          max-width: 80px;
        }
      }
    }
  }
  #service {
    .service {
      /* max-width: 350px; */
      .create {
        .box {
          max-width: 450px;
          align-items: center;
          p {
            max-width: 200px;
          }
        }
      }
    }
  }
  #sait {
    .sait {
      h3 {
        padding-left: 40px;
      }
      .sait-photo {
        .img-2 {
          display: none;
        }
        .img-1 {
          max-width: 365px;
          justify-content: center;
        }
      }
    }
  }
}
@media (max-width: 475px) {
  #hero {
    .hero {
      .hero-text {
        h1 {
          max-width: 327px;
        }
      }
      .hero-img {
        max-width: 280px;
        .main-img {
          max-width: 390px;
          padding-left: 100px;
        }
        .hero-1 {
          top: 40px;
          right: 120px;
          max-width: 40px;
        }
        .hero-2 {
          top: 50px;
          max-width: 50px;
          left: 90px;
        }
        .hero-3 {
          left: 85px;
          max-width: 60px;
        }
        .hero-4 {
          right: 110px;
          max-width: 60px;
          bottom: 5px;
        }
      }
      .hero-text {
        p {
          max-width: 350px;
        }
      }
    }
  }
  #sait {
    .sait {
      h3 {
        max-width: 327px;
      }
      .sait-photo {
        .img-1 {
          justify-content: center;
        }
      }
    }
  }
  #contack {
    .contack {
      max-width: 220px;
      gap: 15px;
      h3 {
        max-width: 230px;
      }
    }
  }
  #service {
    .service {
      h2 {
        max-width: 350px;
      }
    }
  }
}

@media (max-width: 470px) {
  #hero {
    .hero {
      .hero-img {
        .main-img {
          padding-left: 100px;
        }
        .hero-1 {
          top: 40px;
          right: 120px;
          max-width: 40px;
        }
        .hero-2 {
          top: 50px;
          max-width: 40px;
          left: 130px;
        }
        .hero-3 {
          left: 100px;
          bottom: 10px;
          max-width: 40px;
        }
        .hero-4 {
          right: 120px;
          max-width: 40px;
        }
      }
    }
  }
  #contack {
    .contack {
      flex-direction: column;
      align-items: start;
    }
  }
  #footer {
    .footer {
      flex-direction: column;
      gap: 10px;
      .footer-text {
        flex-direction: column;
      }
    }
  }
}
