* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito Sans;
  text-decoration: none;
  border: none;
  /* outline: 1px solid blue; */
}
body {
  color: #fff;
  background: #19191b;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 1366px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}
h1 {
  font-size: clamp(3rem, 2.434rem + 2.59vw, 4.375rem);
  font-weight: 700;
  line-height: 84px;
  max-width: 582px;
}
h2 {
  font-size: clamp(2rem, 1.537rem + 2.12vw, 3.125rem);
  font-weight: 700;
  line-height: 28px;
}
h3 {
  font-size: clamp(1.25rem, 1.044rem + 0.94vw, 1.75rem);
  font-weight: 600;
  line-height: 28px;
  max-width: 626px;
}
p {
  font-weight: 400;
  font-size: clamp(0.688rem, 0.25rem + 2vw, 1.75rem);
  line-height: 39px;
  color: #ffffffaa;
  max-width: 536px;
  width: 100%;
}
button {
  padding: 13px 32px;
  border-radius: 10px;
  font-weight: 700;
  font-size: clamp(0.625rem, 0.368rem + 1.18vw, 1.25rem);
  background: #5454d4;
  color: #fff;
}
#header {
  padding-block: 30px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    display: flex;
    align-items: center;
    gap: 15px;
    a {
      color: #ffffffb2;
      font-weight: 400;
      font-size: clamp(0.688rem, 0.507rem + 0.82vw, 1.125rem);
    }
    a:focus {
      color: #5454d4;
    }
  }
  input {
    background: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  .burger {
    display: none;
    color: #fff;
    font-size: 28px;
  }
}
#hero {
  padding-block: 60px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width: 582px;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
      ion-icon {
        rotate: -50deg;
      }
    }
  }
  .hero-img {
    position: relative;
    max-width: 530px;
    width: 100%;
    .main-img {
      width: 520px;
    }
    .hero-1,
    .hero-2,
    .hero-3,
    .hero-4 {
      position: absolute;
    }
    .hero-1 {
      right: 0;
      top: 70px;
    }
    .hero-2 {
      left: 0;
      top: 85px;
    }
    .hero-3 {
      bottom: 0;
      left: -40px;
    }
    .hero-4 {
      right: 0;
      bottom: 30px;
    }
  }
}
#service {
  padding-block: 60px;
  alignment: Center;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  text-align: center;
  .box-one {
    border-radius: 50%;
    background-color: #5454d41a;
  }
  h2 {
    max-width: 695px;
    width: 100%;
    line-height: 70px;
  }
}

.create {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 12px;
  max-width: 300px;
  width: 100%;
  height: 300px;
  text-align: center;
}
.create .box img:nth-child(3) {
}
#sait {
  padding-block: 60px;
}
.sait {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 80px;
  h3 {
    font-weight: 700;
    font-size: clamp(1.563rem, 0.971rem + 2.71vw, 3rem);
  }
  .sait-photo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 400px;
  }
  img {
    max-width: 340px;
    width: 100%;
  }
  .sait-photo img:first-child {
    align-self: flex-start;
  }
  .sait-photo img:last-child {
    align-self: flex-end;
    /* display: block; */
  }
}
#contack {
  padding-block: 60px;
}
.contack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    font-weight: 700;
    font-size: clamp(1.563rem, 0.971rem + 2.71vw, 3rem);
    line-height: 100%;
    max-width: 625px;
    width: 100%;
  }
}
#footer {
  padding-block: 60px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h6 {
    font-weight: 400;
    font-size: clamp(0.625rem, 0.471rem + 0.71vw, 1rem);
  }
  .footer-text {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
